<?xml version="1.0"?>
<model>
  <name>Arvore</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>PlantYO UAV</name>
    <email>plantyo@uav.com</email>
  </author>
  <description>
    Modelo de árvore para simulação de reflorestamento.
    Planta alta (~85cm) com tronco marrom e copa verde escura.
  </description>
</model>
