<launch>
  <arg name="modo" default="3comp" />
  <arg name="solver" default="HGS" />
  <arg name="grid_size_x" default="75.0" />
  <arg name="grid_size_y" default="75.0" />
  <arg name="waypoint_spacing" default="5.0" />
  <arg name="line_spacing" default="5.0" />
  <arg name="base_x" default="37.5" />
  <arg name="base_y" default="0.0" />
  <arg name="cap_por_guilda" default="100" />
  <arg name="seeds_per_waypoint" default="15" />
  <arg name="drone_autonomy" default="2250.0" />
  <arg name="reserve_percent" default="0.10" />
  <arg name="solver_time_limit" default="30.0" />

  <node name="dispensor_planter" pkg="plantyo_uav" type="dispensor_planter_node.py" output="screen">
    <param name="modo" value="$(arg modo)" />
    <param name="solver" value="$(arg solver)" />
    <param name="grid_size_x" value="$(arg grid_size_x)" />
    <param name="grid_size_y" value="$(arg grid_size_y)" />
    <param name="waypoint_spacing" value="$(arg waypoint_spacing)" />
    <param name="line_spacing" value="$(arg line_spacing)" />
    <param name="base_x" value="$(arg base_x)" />
    <param name="base_y" value="$(arg base_y)" />
    <param name="cap_por_guilda" value="$(arg cap_por_guilda)" />
    <param name="capacity_erva" value="$(arg cap_por_guilda)" />
    <param name="capacity_arbusto" value="$(arg cap_por_guilda)" />
    <param name="capacity_arvore" value="$(arg cap_por_guilda)" />
    <param name="seeds_per_waypoint" value="$(arg seeds_per_waypoint)" />
    <param name="drone_autonomy" value="$(arg drone_autonomy)" />
    <param name="reserve_percent" value="$(arg reserve_percent)" />
    <param name="solver_time_limit" value="$(arg solver_time_limit)" />
  </node>
</launch>
