<?xml version="1.0"?>
<model>
  <name>Arbusto</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>PlantYO UAV</name>
    <email>plantyo@uav.com</email>
  </author>
  <description>
    Modelo de arbusto para simulação de reflorestamento.
    Planta média (~35cm) verde com flores amarelas.
  </description>
</model>
